* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
body {
    background-color: #9b59b6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0,0, 0.3) ;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.header {
    background-color: #f7f7f7;
    padding: 20px 40px;
}
.header h2 {
    margin: 0;
}
.form {
    padding: 30px 40px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 4px;
}
.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
}
.form-control.success input {
    border-color: #7cfc00;
}
.form-control.error input {
    border-color: #f08080;
}
.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #7cfc00;
}
.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #f08080;
}
.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.error small {
    visibility: visible;
    color: #f08080;
}
.form button {
    background-color: #9b59b6;
    border: 2px solid #9b59b6;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-family: inherit;
}
.thankyou {
    font-size: 20px;
    padding: 40px;
    text-align: center;
}
.hidden {
    display: none;
}